In [13]:
#Importing All The Necessary Packages
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from sklearn.decomposition import PCA
import  matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MaxAbsScaler

In [14]:
cars=pd.read_excel('C:/Users/Amardeep/Desktop/PLASTICS DATASETS/Participants_Data_Used_Cars/Data_Train.xlsx')
cars

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.20,1199,88.70,5,8.61,4.50
1,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.50,8,21.00,17.50
2,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5,10.65,9.95
3,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477,175.56,7,32.01,15.00
4,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190.00,5,47.87,18.55
5,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.50,1199,88.70,5,10.57,9.90
6,Volkswagen Vento 1.6 Highline,Coimbatore,2014,55431,Petrol,Manual,Second,16.09,1598,103.50,5,12.33,6.98
7,Maruti Vitara Brezza ZDi Plus,Kochi,2018,50075,Diesel,Manual,First,24.30,1248,88.50,5,11.12,8.63
8,Hyundai Elantra 2.0 SX Option AT,Bangalore,2014,46374,Petrol,Automatic,First,14.62,1999,149.92,5,23.64,8.85
9,Toyota Innova Crysta 2.7 GX MT,Bangalore,2012,70704,Petrol,Manual,First,11.25,2694,163.70,7,18.64,10.95
10,Toyota Innova Crysta 2.4 GX MT 8S,Mumbai,2017,22000,Diesel,Manual,First,13.68,2393,147.80,8,19.34,16.50
11,Mercedes-Benz C-Class Progressive C 220d,Coimbatore,2019,15369,Diesel,Automatic,First,0.00,1950,194.00,5,49.14,35.67
12,Hyundai Creta 1.4 E Plus Diesel,Mumbai,2018,13000,Diesel,Manual,First,22.10,1396,88.70,5,11.81,10.50
13,Nissan Terrano XV D Pre,Kochi,2015,56066,Diesel,Manual,First,19.64,1461,108.50,5,16.65,6.92
14,Tata Zest Revotron 1.2T XE,Pune,2017,70000,Petrol,Manual,First,17.57,1193,88.70,5,6.67,4.50
15,Datsun GO Plus T Petrol,Pune,2017,32851,Petrol,Manual,First,19.83,1198,67.00,7,6.45,3.95
16,Toyota Etios Liva 1.2 G,Ahmedabad,2014,53000,Petrol,Manual,First,17.71,1197,78.90,5,6.41,3.90
17,Toyota Innova Crysta 2.8 ZX AT,Mumbai,2017,30000,Diesel,Automatic,First,11.36,2755,171.50,7,27.00,19.25
18,Maruti Eeco 5 Seater AC,Coimbatore,2017,38053,Petrol,Manual,First,15.10,1196,73.00,5,5.13,3.91
19,BMW 3 Series 320d Luxury Line,Mumbai,2015,56087,Diesel,Automatic,First,22.69,1995,190.00,5,54.43,20.75
20,Nissan Micra XV CVT,Coimbatore,2016,39882,Petrol,Automatic,First,19.15,1198,75.94,5,9.51,6.55
21,Maruti Vitara Brezza VDi,Mumbai,2016,55000,Diesel,Manual,First,24.30,1248,88.50,5,9.96,7.50
22,Hyundai Verna CRDi 1.6 SX Option,Kolkata,2018,10250,Diesel,Manual,First,22.00,1582,126.20,5,14.44,10.95
23,Maruti Alto K10 VXI,Hyderabad,2014,88500,Petrol,Manual,First,24.07,998,67.10,5,4.53,2.60
24,Mercedes-Benz SLC 43 AMG,Kolkata,2017,13372,Petrol,Automatic,First,19.00,2996,362.07,2,95.04,54.00
25,Hyundai Verna VTVT 1.6 AT SX Plus,Kochi,2019,12645,Petrol,Automatic,First,17.00,1591,121.30,5,13.49,11.50
26,Audi RS5 Coupe,Mumbai,2013,23000,Petrol,Automatic,First,11.05,2894,444.00,4,1.28,37.00
27,BMW 3 Series Luxury Line,Mumbai,2014,48000,Diesel,Automatic,First,21.76,1995,190.00,5,60.88,26.50
28,Hyundai Grand i10 1.2 Kappa Asta,Kolkata,2019,1000,Petrol,Manual,First,18.90,1197,81.86,5,7.39,6.50
29,BMW 5 Series 520d Luxury Line,Hyderabad,2014,51000,Diesel,Automatic,First,22.48,1995,190.00,5,69.47,33.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,Renault KWID RXT Optional,Mumbai,2018,1617,Petrol,Manual,First,25.17,799,53.30,5,4.78,4.29
795,Honda City i-DTEC SV,Hyderabad,2015,82000,Diesel,Manual,First,25.60,1498,98.60,5,13.33,8.00
796,Hyundai Grand i10 1.2 Kappa Sportz,Kochi,2016,28147,Petrol,Manual,First,18.90,1197,81.86,5,6.62,5.07
797,Renault Duster 110PS Diesel RxZ,Bangalore,2014,70000,Diesel,Manual,First,19.60,1461,108.45,5,15.01,8.25
798,Skoda Superb L&K 2.0 TDI AT,Mumbai,2017,35000,Diesel,Automatic,First,18.19,1968,174.50,5,40.73,25.75
799,Maruti Vitara Brezza ZDi Plus Dual Tone,Kochi,2017,21248,Diesel,Manual,First,24.30,1248,88.50,5,11.75,9.44
800,Mercedes-Benz C-Class Progressive C 220d,Ahmedabad,2019,4000,Diesel,Automatic,First,0.00,1950,194.00,5,49.14,35.00
801,Mitsubishi Pajero Sport 4X4,Jaipur,2014,70000,Diesel,Manual,Second,13.50,2477,175.56,7,33.21,11.85
802,Hyundai Creta 1.6 SX,Hyderabad,2018,9900,Petrol,Manual,First,15.80,1591,121.30,5,14.72,13.20
803,Tata Zest Quadrajet 1.3 75PS XE,Hyderabad,2016,125000,Diesel,Manual,First,22.95,1248,74.00,5,8.09,4.60
804,Renault Duster 110PS Diesel RxZ AMT,Coimbatore,2017,34686,Diesel,Automatic,First,19.60,1461,108.45,5,15.05,11.86
805,Skoda Superb Style 2.0 TDI AT,Mumbai,2017,42000,Diesel,Automatic,First,18.19,1968,174.50,5,36.94,22.99
806,Mahindra NuvoSport N6,Coimbatore,2018,37323,Diesel,Manual,Second,17.45,1493,100.00,7,10.52,7.29
807,Maruti Dzire LDI,Pune,2018,27000,Diesel,Manual,First,28.40,1248,73.75,5,7.91,5.90
808,Renault KWID RXL,Pune,2018,1000,Petrol,Manual,First,25.17,799,53.30,5,4.45,3.40
809,Maruti Ertiga VXI AT Petrol,Mumbai,2017,28000,Petrol,Automatic,First,18.69,1462,103.00,7,10.65,8.00
810,Toyota Corolla Altis 1.8 G CVT,Delhi,2010,109703,Petrol,Automatic,Second,14.28,1798,138.03,5,20.46,4.00
811,Hyundai Verna VTVT 1.6 AT SX Option,Mumbai,2018,8000,Petrol,Automatic,First,17.00,1591,121.30,5,15.14,12.85
812,Mercedes-Benz GLA Class 200 Sport,Kochi,2018,17773,Petrol,Automatic,First,13.70,1991,183.00,5,39.22,26.76
813,Volkswagen Polo 1.5 TDI Highline,Hyderabad,2013,65000,Diesel,Manual,Second,20.14,1498,88.00,5,10.15,3.50
814,Volkswagen Ameo 1.2 MPI Highline,Ahmedabad,2016,34005,Petrol,Manual,First,17.00,1198,73.75,5,8.09,5.75
815,Maruti Baleno Alpha,Mumbai,2017,6000,Petrol,Manual,First,21.40,1197,83.10,5,8.78,7.50
816,Tata Hexa XTA,Jaipur,2016,39000,Diesel,Automatic,First,17.60,2179,153.86,7,21.00,13.50
817,Tata Tiago 1.2 Revotron XT,Kochi,2017,15386,Petrol,Manual,First,23.84,1199,84.00,5,5.56,5.11
818,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,Diesel,Automatic,Second,18.25,1968,187.74,5,53.14,16.52
819,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193,88.70,5,7.77,4.00
820,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598,103.50,5,11.91,3.25
821,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.30,1248,88.50,5,9.93,7.43
822,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.50,1198,86.80,5,6.63,3.20
823,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5,7.88,4.75

In [15]:
cars_columns=cars.columns

In [16]:
one_hot=pd.get_dummies(cars['Name'])
# Drop column as it is now encoded
cars = cars.drop('Name',axis = 1)
# Join the encoded df
cars = cars.join(one_hot)

In [17]:
two_hot=pd.get_dummies(cars['Location'])
# Drop column as it is now encoded
cars = cars.drop('Location',axis = 1)
# Join the encoded df
cars = cars.join(two_hot)

In [18]:
three_hot=pd.get_dummies(cars['Year'])
# Drop column as it is now encoded
cars = cars.drop('Year',axis = 1)
# Join the encoded df
cars = cars.join(three_hot)

In [19]:
four_hot=pd.get_dummies(cars['Fuel_Type'])
# Drop column as it is now encoded
cars = cars.drop('Fuel_Type',axis = 1)
# Join the encoded df
cars = cars.join(four_hot)

In [20]:
five_hot=pd.get_dummies(cars['Transmission'])
# Drop column as it is now encoded
cars = cars.drop('Transmission',axis = 1)
# Join the encoded df
cars = cars.join(five_hot)

In [21]:
six_hot=pd.get_dummies(cars['Owner_Type'])
# Drop column as it is now encoded
cars = cars.drop('Owner_Type',axis = 1)
# Join the encoded df
cars = cars.join(six_hot)

In [22]:
cars=cars.dropna()

In [12]:
cars.to_excel("C:/Users/Amardeep/Desktop/PLASTICS DATASETS/cars.xlsx")

In [23]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [24]:
X=cars.drop(columns='Price')
y=cars['Price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

In [52]:
X=X.dropna()

In [66]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor

ImportError: No module named tensorflow.python.keras.models

In [68]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

Using TensorFlow backend.

ImportError: No module named tensorflow

In [38]:
 def get_params(self, deep=True):
        """Get parameters for this estimator.
        Parameters
        ----------
        deep : boolean, optional
            If True, will return the parameters for this estimator and
            contained subobjects that are estimators.
        Returns
        -------
        params : mapping of string to any
            Parameter names mapped to their values.
        """
        out = dict()
        for key in self._get_param_names():
            value = getattr(self, key, None)
            if deep and hasattr(value, 'get_params'):
                deep_items = value.get_params().items()
                out.update((key + '__' + k, val) for k, val in deep_items)
            out[key] = value
        return out

    def set_params(self, **params):
        """Set the parameters of this estimator.
        The method works on simple estimators as well as on nested objects
        (such as pipelines). The latter have parameters of the form
        ``<component>__<parameter>`` so that it's possible to update each
        component of a nested object.
        Returns
        -------
        self
        """
        if not params:
            # Simple optimization to gain speed (inspect is slow)
            return self
        valid_params = self.get_params(deep=True)

        nested_params = defaultdict(dict)  # grouped by prefix
        for key, value in params.items():
            key, delim, sub_key = key.partition('__')
            if key not in valid_params:
                raise ValueError('Invalid parameter %s for estimator %s. '
                                 'Check the list of available parameters '
                                 'with `estimator.get_params().keys()`.' %
                                 (key, self))

            if delim:
                nested_params[key][sub_key] = value
            else:
                setattr(self, key, value)
                valid_params[key] = value

        for key, sub_params in nested_params.items():
            valid_params[key].set_params(**sub_params)

        return self

IndentationError: unindent does not match any outer indentation level (<ipython-input-38-36c33bc84be1>, line 22)

In [36]:
from sklearn.linear_model import LarsCV
from sklearn.datasets import make_regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
reg = LarsCV(cv=5).fit(X, y)
reg.score(X, y)

NameError: name 'fit' is not defined

In [33]:
from sklearn.linear_model import LarsCV
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=40)
reg1 = LarsCV(cv=10).fit(X, y)
get_params(deep=True)
reg1.score(X,y)

0.9446084545984627

In [40]:
reg.coef_

array([-4.33195725e-05,  0.00000000e+00,  8.22819775e-04,  9.59327004e-02,
        0.00000000e+00,  2.33891944e-01,  0.00000000e+00,  0.00000000e+00,
       -2.85982521e+00,  2.26798127e-02,  0.00000000e+00,  0.00000000e+00,
        1.41713819e+00,  0.00000000e+00,  1.92206091e+01,  3.25164361e+01,
        0.00000000e+00, -8.48455117e+00, -6.84344826e+00,  0.00000000e+00,
        0.00000000e+00, -4.10338360e+00, -5.30517122e+00,  0.00000000e+00,
        1.32491455e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        5.40154135e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -1.04194868e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -9.66266892e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -2.08866016e-01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        4.91293898e+00,  0.00000000e+00,  1.23988012e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.09754368e+01,  7.77973979e+00,
        1.44668795e+01,  1.28714090e+02,  1.36625903e+01,  4.06524807e+01,
        5.20688193e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  2.85275799e-02,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.79519667e+00,  1.57040256e+00,  0.00000000e+00,
        7.32325322e+00,  2.32664080e+01,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  8.08916556e+00,  1.43482249e+01,
        7.41989320e+00,  1.52057431e+01,  1.47649054e+01,  2.92585761e+01,
        4.64052667e+01,  3.80995390e+00,  1.92769382e-01,  1.87516921e+01,
        1.73281997e+00,  3.40463732e+00,  0.00000000e+00,  6.06294662e+00,
        2.90019227e+00,  0.00000000e+00, -2.76080833e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -2.48960272e+01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.33979949e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.49777639e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  2.27895874e+00,  1.08364411e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  4.42455944e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  3.50187232e-02,
       -1.26154507e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -1.92261946e+00,
       -7.24097454e+00, -4.56800371e+00, -1.02974422e+00, -1.85561154e+00,
       -1.63288007e+00, -4.10962694e-01,  0.00000000e+00,  0.00000000e+00,
        5.73721865e-01,  1.02394882e+00,  2.29667574e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.22091682e+00,  0.00000000e+00,
       -4.75979179e-01, -4.76141263e+13, -4.76141263e+13, -4.76141263e+13])

In [42]:
reg1.coef_

array([-4.36410795e-05,  0.00000000e+00,  8.41836289e-04,  9.58554218e-02,
        0.00000000e+00,  2.34397043e-01,  0.00000000e+00,  0.00000000e+00,
       -2.78332194e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        1.27479044e+00,  0.00000000e+00,  1.89832683e+01,  3.23968973e+01,
        0.00000000e+00, -8.49451997e+00, -6.80260877e+00,  0.00000000e+00,
        0.00000000e+00, -4.09476233e+00, -5.24092331e+00,  0.00000000e+00,
        1.30274926e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        5.14721820e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -1.02926071e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -8.97995208e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -1.47547664e-01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        4.75102940e+00,  0.00000000e+00,  1.21782114e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  1.07854650e+01,  7.59807435e+00,
        1.43057956e+01,  1.28518652e+02,  1.35082234e+01,  4.04746331e+01,
        5.19179410e+01,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  1.66613257e+00,  1.45732351e+00,  0.00000000e+00,
        7.19812202e+00,  2.30324642e+01,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  7.87410765e+00,  1.42123573e+01,
        7.19588874e+00,  1.50789321e+01,  1.46554515e+01,  2.90951737e+01,
        4.62177496e+01,  3.59672121e+00,  0.00000000e+00,  1.85748502e+01,
        1.51435729e+00,  3.29594076e+00,  0.00000000e+00,  5.96470169e+00,
        2.78452223e+00,  0.00000000e+00, -2.70339580e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -2.47212835e+01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.32114516e+01,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.44136911e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  2.18011582e+00,  9.64887601e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  4.28571538e-01,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  2.48297722e-02,
       -1.25003003e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -1.82177185e+00,
       -7.05317371e+00, -4.53176448e+00, -9.73368880e-01, -1.81681998e+00,
       -1.60817053e+00, -3.82343675e-01,  0.00000000e+00,  0.00000000e+00,
        5.75396719e-01,  1.01962469e+00,  2.30361391e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -1.21403984e+00,  0.00000000e+00,
       -4.74980594e-01, -4.11661919e+13, -4.11661919e+13, -4.11661919e+13])

In [43]:
reg.get_params

<bound method LarsCV.get_params of LarsCV(copy_X=True, cv=5, eps=2.220446049250313e-16, fit_intercept=True,
    max_iter=500, max_n_alphas=1000, n_jobs=None, normalize=True,
    positive=False, precompute='auto', verbose=False)>